.row
  .col-xs-12.col-sm-6.col-md-6.picture-col.light-bg
    .row
      .col-md-12.text-center
        %h1
          Alice & Abhi
    .row
      .col-md-12
        = image_tag 'background/jersey.jpg', class: 'img-responsive frame'
  .col-xs-12.col-sm-6.col-md-6.login-input-col.dark-bg
    .row#login-input
      = form_for(:session, url: login_path) do |f|
        .col-xs-6.col-sm-6.col-sm-offset-1.col-md-6.col-md-offset-1
          = f.text_field :password, placeholder: 'Enter password', class: 'form-control'
        .col-xs-6.col-sm-5.col-md-5
          = f.submit "Enter", class: 'btn btn-general'