.row
  .col-xs-12.col-sm-12.col-md-12
    = image_tag "background/jersey.jpg", class: 'img-responsive'
    .img-title
      %h1.text-center
        Alice & Abhi
      %h3.text-center
        27th June 2015
