// Navbar =====================================================================

.navbar
  border-width: 0
  background-color: #E01818

.navbar-default .navbar-nav > li > a
  color: white
  &:hover, &:focus
    color: white

// Body =======================================================================

.body-content
  padding-top: 60px
  // background-color: #41A0AD

.center-block
  float: none

.img-title
  position: absolute
  z-index: 1
  top: 0
  left: 0
  width: 100%